.carousel{
    margin-top: 60px;
    .carousel-indicators{
        li{
            height: 15px;
            width: 15px;
            border-radius: 50%;
        }
    }
    .carousel-inner{
        .carousel-item{
            position: relative;
            .play__button{
                position: absolute;
                display: none;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                cursor: pointer;
                transition: all 0.5s;
                &:hover{
                    opacity: 0.6;
                }
            }
            .modal{
                .modal-content{
                    background: transparent;
                    border: none;
                    align-items: center;
                    .modal-body{
                        width: 850px;
                        height: 500px;
                    }
                }
            }
            &:hover{
                .play__button{
                    display: block;
                }
            }
        }
    }
    .carousel-control-prev, .carousel-control-next{
        width: 50px;
        height: 50px;
        top: 50%;
        margin:0 70px;
        span{
            width: 50px;
            height: 50px;
        }
    }
}
@media screen and (max-width: 768px){
    .carousel{
        margin: 0;
        .carousel-inner{
            .carousel-item{
                .play__button{
                    display: inline;
                    
                }
            }
        }
    }
}